---
layout: page
css_includes: ["/css/page.css", "/css/post_page.css"]
js_includes: "/js/post_page.js"
---

<div id="container-content-animation">
    <div id="dates">
        {% assign i = -1 %}
        {% for post in site.posts %}
            {% if post.path contains page.post_type %}
                {% assign i = i | plus:1 %}
                <p onclick="set_current_date({{i}})">
                    {{post.date | date_to_short_french}} - {{post.title}}
                </p>
            {% endif %}
        {% endfor %}
    </div>
    <div id="post-content">
        {% for post in site.posts %}
            {% if post.path contains page.post_type %}
                <div class="date">{{ post.date | date_to_french }}</div>
                <div>{{post.content}}</div>
            {% endif %}
        {% endfor %}
    </div>
</div>
