---
import { Trans } from "astro-i18next/components";
import { t, changeLanguage } from "i18next";
import Frame from "../components/Frame.astro";
import Layout from "../layouts/Layout.astro";

changeLanguage("fr");
---

<Layout title={t("faq.title")}>
  <Frame>
    <div class="faq-content">
      <h1>FAQ</h1>
      <ol>
        <li>
          <p>
            <Trans i18nKey="faq.q1">
              <strong>Dois-je acheter le jeu pour utiliser le patch ?</strong
              ><br />Il faut acheter le jeu sur <a
                target="_blank"
                href="https://store.steampowered.com/app/1150690/OMORI/"
                >Steam</a
              > pour pouvoir utiliser le patch. Le jeu et le patch sont compatibles
              sur Windows, MacOS et Linux.
            </Trans>
          </p>
        </li>

        <li>
          <p>
            <Trans i18nKey="faq.q2">
              <strong>Comment télécharger le patch ? Est-ce gratuit ?</strong
              ><br />Le jeu est payant, mais notre patch de traduction est
              gratuit. Si on vous demande de payer pour l'obtenir, vous êtes
              victime d'une arnaque. Pour le télécharger, suis la procédure
              indiquée dans l'onglet "installation" du site.
            </Trans>
          </p>
        </li>

        <li>
          <p>
            <Trans i18nKey="faq.q3">
              <strong>J'ai trouvé une erreur, comment la signaler ?</strong><br
              />Nous t'invitons à rejoindre notre serveur <a
                target="_blank"
                href="https://discord.gg/omorifr">Discord</a
              > et à signaler l'erreur dans le salon #traduction avec une capture
              d'écran et les conditions dans lesquelles l'erreur/bug survient.
            </Trans>
          </p>
        </li>

        <li>
          <p>
            <Trans i18nKey="faq.q4">
              <strong>Comment vous contacter ?</strong><br />Vous serez le plus
              susceptible de recevoir une réponse rapide sur notre Discord (lien
              ci-dessus), mais vous pouvez aussi nous contacter via <a
                target="_blank"
                href="https://twitter.com/OMORIVF">Twitter</a
              > ou par mail omorivf@gmail.com
            </Trans>
          </p>
        </li>

        <li>
          <p>
            <Trans i18nKey="faq.q5">
              <strong>Êtes-vous affiliés à OMOCAT, LLC ?</strong><br />Ce patch
              de traduction est non-officiel. Nous ne sommes pas affiliés à
              OMOCAT, LLC dont OMORI© est la propriété. Nous désirons seulement
              rendre le jeu accessible à plus de monde. C'est un projet créé par
              des fans, pour des fans.
            </Trans>
          </p>
        </li>

        <li>
          <p>
            <Trans i18nKey="faq.q6">
              <strong>Le patch marche-t-il sur console/Xbox Game Pass ?</strong
              ><br />Malheureusement non. Les versions Xbox possèdent néanmoins
              un patch directement intégré au jeu que nous n'avons pas réalisé.
            </Trans>
          </p>
        </li>

        <li>
          <p>
            <Trans i18nKey="faq.q7">
              <strong>Puis-je faire un don pour vous remercier ?</strong><br
              />Merci pour votre soutien mais ce n'est pas possible. Ce projet
              est à but non-lucratif, nous ne pouvons et ne voulons donc pas
              être rémunérés, même par des dons. Si vous souhaitez nous
              soutenir, parlez de ce projet autour de vous !
            </Trans>
          </p>
        </li>

        <li>
          <p>
            <Trans i18nKey="faq.q8">
              <strong
                >Mon antivirus me dit que le patch en contient un, que faire ?</strong
              ><br />Notre patch est totalement dénué de virus.
            </Trans>
          </p>
        </li>

        <li>
          <p>
            <Trans i18nKey="faq.q9">
              <strong
                >Est-ce que je peux faire un let's play avec votre traduction ?</strong
              ><br />Oui ! Et cela nous ferait même plaisir. N'oubliez juste pas
              de nous créditer en description ou en début de vidéo/stream !
            </Trans>
          </p>
        </li>
      </ol>
    </div>
  </Frame>
</Layout>

<style>
  .faq-content {
    padding-left: var(--spacing-l);
  }

  ol {
    font-size: var(--font-size-n);
    list-style: decimal;
    padding: 0;
    margin: 0;
  }

  h1 + * {
    margin-top: var(--spacing-m);
  }

  li + li {
    margin-top: var(--spacing-m-em);
  }

  li {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-n);
  }

  li > p {
    font-weight: var(--font-weight-n);
  }
</style>
