---
import { t } from "i18next";
import Frame from "../components/Frame.astro";
import Layout from "../layouts/Layout.astro";
import FAQEntry from "../components/FAQEntry.svelte";
---

<Layout title={t("faq.title")} description={t("faq.description")}>
  <Frame>
    <section class="content">
      <h1>{t("faq.title")}</h1>
      <ol>
        {
          (
            t("faq.entries", { returnObjects: true }) as {
              question: string;
              answer: string;
            }[]
          ).map((item) => (
            <FAQEntry question={item.question} answer={item.answer} />
          ))
        }
      </ol>
    </section>
  </Frame>

  <style is:inline>
    div.centered-img {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: var(--spacing-s);
    }

    .faq-list-item + .faq-list-item {
      margin: var(--spacing-m-em) 0 0;
    }
  </style>

  <style>
    ol {
      margin: var(--spacing-m) 0 0;
    }
  </style>
</Layout>
