---
import { t } from "i18next";
import Frame from "../components/Frame.astro";
import Layout from "../layouts/Layout.astro";
import FAQ from "../components/FAQ.astro";
---

<Layout title={t("faq.title")}>
  <Frame>
    <h1>{t("faq.title")}</h1>
    <FAQ />
  </Frame>

  <style>
    .faq-content {
      padding-left: var(--spacing-l);
    }

    ol {
      font-size: var(--font-size-n);
      list-style: decimal;
      padding: 0;
      margin: 0;
    }

    h1 + * {
      margin-top: var(--spacing-m);
    }

    li + li {
      margin-top: var(--spacing-m-em);
    }

    li {
      font-weight: var(--font-weight-bold);
      font-size: var(--font-size-n);
    }

    li > p {
      font-weight: var(--font-weight-n);
    }
  </style>
</Layout>
