---
import { t, changeLanguage } from "i18next";
import Layout from "../layouts/Layout.astro";
import { Trans } from "astro-i18next/components";
import Frame from "../components/Frame.astro";

changeLanguage("fr");
---

<Layout title={t("index.welcome")}>
  <Frame>
    <h1>{t("index.welcome")}</h1>
    <p id="countdown"></p>
    <p class="instructions">
      <Trans i18nKey="index.introduction">
        We are not affiliated, associated, authorized, endorsed by, or in any
        way officially connected with OMOCAT, or any of its subsidiaries or its
        affiliates. The official OMORI website can be found at
        <a href="https://www.omori-game.com" target="_blank"
          >https://www.omori-game.com</a
        >.
      </Trans>
    </p>
  </Frame>
</Layout>

<style>
  h1 {
    font-size: var(--font-size-xl);
    margin: 0;
  }
</style>
