---
import { t, changeLanguage } from "i18next";
import Frame from "../components/Frame.astro";
import Layout from "../layouts/Layout.astro";

changeLanguage("fr");
---

<Layout title={t("installation.title")}>
  <Frame><section><h1>{t("installation.title")}</h1></section></Frame>
</Layout>

<style>
  section {
    padding: 0 var(--spacing-l) var(--spacing-l);
  }

  h1 + * {
    margin-top: var(--spacing-m);
  }
</style>
