---
import { t, changeLanguage } from "i18next";
import Frame from "../components/Frame.astro";
import Layout from "../layouts/Layout.astro";

changeLanguage("fr");
---

<Layout title={t("installation.title")}>
  <Frame><p>{t("installation.title")}</p></Frame>
</Layout>
