---
import { t, changeLanguage } from "i18next";
import Layout from "../layouts/Layout.astro";
import Frame from "../components/Frame.astro";

changeLanguage("en");
---

<Layout title={t("team.title")}>
  <section class="section-team">
    <Frame />
    <Frame>
      <p>{t("team.menuTitle")}</p>
    </Frame>
    <Frame />
  </section>
</Layout>

<style>
  .section-team {
    display: grid;
    grid-template: max-content auto / 1fr 1fr;
    min-height: 500px;
    gap: var(--spacing-xs);
  }

  .section-team > div:first-child {
    grid-row: 1 / 3;
  }
</style>
