---
const { class: className } = Astro.props;
---

<div class={`${className ? className + " " : ""}frame-outer`}>
  <div class="frame-content">
    <slot />
  </div>
</div>

<style>
  div.frame-content {
    display: flex;
    flex-direction: column;
  }
</style>
