<div class="frame-outer">
  <div class="frame-content">
    <slot />
  </div>
</div>

<style>
  .frame-outer {
    background: var(--black);
    color: var(--white);
    padding: 1px;
  }

  .frame-content {
    border: 2px solid var(--white);
    padding: var(--spacing-s);
  }
</style>
