---
import NavItem from "./NavItem.astro";
import { t } from "i18next";
import Frame from "./Frame.astro";

const navItems = [
  { title: "nav.home", link: "/" },
  { title: "nav.installation", link: "/installation" },
  { title: "nav.translation", link: "/translation" },
  { title: "nav.team", link: "/team" },
  { title: "nav.faq", link: "/faq" },
];
---

<nav>
  <Frame>
    <ul>
      {navItems.map((v) => <NavItem title={t(v.title)} link={v.link} />)}
    </ul>
  </Frame>
</nav>

<style>
  nav {
    width: 100%;
    max-width: var(--content-max-width);
  }

  ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
  }
</style>
