---
import i18next from "i18next";
import Navbar from "../components/Navbar.astro";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="logo-container">
      <img class="logo" src="/omori-vf.svg" alt="OMORI Version Française" />
      <button id="light" class="light-button"
        ><img
          class="lightbulb"
          src="/img/lightbulb.png"
          alt="Lightbulb"
        /></button
      >
    </div>
    <Navbar />
    <main>
      <slot />
    </main>

    <style is:global>
      @font-face {
        font-family: "omori";
        src: url("/fonts/OMORI_GAME2.woff2") format("woff2");
      }

      body {
        --black: hsl(0, 0%, 0%);
        --white: hsl(0, 0%, 87%);
        --red: hsl(6, 82%, 53%);
        --green: hsl(176, 37%, 50%);
        --purple: hsl(299, 75%, 76%);
        --blue: hsl(255, 96%, 38%);

        --background: var(--white);
        --color: var(--black);

        --font-size-n: 24px;
        --font-size-m: 32px;
        --font-size-l: 44px;
        --font-size-xl: 52px;

        --font-weight-bold: bold;
        --font-weight-n: 400;

        --spacing-xs: 5px;
        --spacing-s: 10px;
        --spacing-n: 15px;
        --spacing-m: 20px;
        --spacing-l: 25px;

        --spacing-m-em: 0.5em;

        --text-max-width: 700px;
        --content-max-width: 900px;
      }

      .dark-theme {
        --background: var(--black);
        --color: var(--white);
      }

      html {
        font-family: "omori", sans-serif;

        height: 100%;
        width: 100%;
      }

      body {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        align-items: center;
        font-size: var(--font-size-n);
        margin: 0;
        cursor: url("/images/icons/cursor.png"), auto;
        background: var(--background);
        color: var(--color);
      }

      main {
        width: 100%;
        max-width: var(--content-max-width);
        margin-top: var(--spacing-m-em);
      }

      h1,
      h2 {
        margin: 0;
      }

      h1 {
        font-size: var(--font-size-xl);
      }

      h2 {
        font-size: var(--font-size-l);
      }

      p {
        font-size: var(--font-size-n);
        max-width: var(--text-max-width);
        margin: 0;
      }

      p + * {
        margin-top: var(--spacing-m-em);
      }

      a {
        color: var(--blue);
        font-size: var(--font-size-n);
      }

      a:visited {
        color: var(--purple);
      }

      * {
        box-sizing: border-box;
      }

      .logo-container {
        width: 100%;
        max-width: var(--content-max-width);
        display: grid;
        grid-template: auto / 1fr auto 1fr;
        justify-content: center;
      }

      .logo {
        grid-column: 2 / 3;
        height: 100px;
        filter: invert(15%);
        margin: var(--spacing-m) 0;
        justify-self: center;
      }

      .light-button {
        justify-self: flex-end;
        margin-right: 25px;
        padding: 0;
        background: unset;
        border: none;
        height: min-content;
      }

      .lightbulb {
        height: 80px;
      }

      .dark-theme .logo {
        filter: invert(85%);
      }

      .dark-theme .lightbulb {
        filter: invert(85%);
      }

      .frame-outer {
        background: var(--black);
        color: var(--white);
        padding: 1px;
      }

      .frame-content {
        border: 2px solid var(--white);
        padding: var(--spacing-s);
        height: 100%;
      }

      .heart-icon {
        height: 24px;
        width: 24px;
        vertical-align: bottom;
      }

      a,
      button,
      lite-youtube {
        cursor: url("/images/icons/cursor_selected.png"), auto !important;
      }
    </style>
  </body>
  <script>
    const darkModeCss = "dark-theme";
    const darkModeStateKey = "dark";

    const setDarkMode = () => {
      document.body.classList.add(darkModeCss);
      window.localStorage.setItem(darkModeStateKey, "true");
    };

    const setLightMode = () => {
      document.body.classList.remove(darkModeCss);
      window.localStorage.setItem(darkModeStateKey, "false");
    };

    const state = window.localStorage.getItem(darkModeStateKey);
    const prefersDarkScheme = window.matchMedia("(prefers-color-scheme: dark)");

    if (state === "true" || (state == null && prefersDarkScheme.matches)) {
      setDarkMode();
    } else {
      setLightMode();
    }

    const button = document.getElementById("light") as HTMLButtonElement;
    button.addEventListener("click", () => {
      if (document.body.classList.contains(darkModeCss)) {
        setLightMode();
      } else {
        setDarkMode();
      }
    });
  </script>
</html>
