---
import i18next from "i18next";
import Navbar from "../components/Navbar.astro";
import { SEO } from "astro-seo";

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <script is:inline>
      const lightModeCss = "light-theme";
      const lightModeStateKey = "light";

      const setLightMode = () => {
        document.documentElement.classList.add(lightModeCss);
      };

      const setDarkMode = () => {
        document.documentElement.classList.remove(lightModeCss);
      };

      const state = window.localStorage.getItem(lightModeStateKey);
      const prefersLightScheme = window.matchMedia(
        "(prefers-color-scheme: light)"
      );

      if (state === "true" || (state == null && prefersLightScheme.matches)) {
        setLightMode();
      } else {
        setDarkMode();
      }
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <SEO title={title} description={description} />
  </head>
  <body>
    <canvas id="canvas-background"> </canvas>
    <Navbar />
    <main>
      <slot />
    </main>

    <style>
      canvas {
        display: none;
        z-index: -1;
        position: absolute;
        background: var(--background);
        width: 100%;
        height: 100%;
        transition: background 1s ease;
      }

      canvas.size-handled {
        width: auto;
        height: auto;
      }

      @media screen and (min-width: 900px) {
        canvas {
          display: initial;
        }
      }

      @media (prefers-reduced-motion: reduce) {
        canvas {
          display: none;
        }
      }
    </style>

    <style is:global>
      @font-face {
        font-family: "omori";
        src: url("/fonts/OMORI_GAME2.woff2") format("woff2");
      }

      html {
        --black: hsl(0, 0%, 0%);
        --white: hsl(0, 0%, 87%);
        --red: hsl(6, 82%, 53%);
        --green: hsl(176, 37%, 50%);
        --purple: hsl(299, 75%, 85%);
        --blue: hsl(255, 96%, 38%);
        --blue-light: hsl(255, 96%, 70%);

        --background: var(--black);
        --color: var(--white);

        --font-size-n: 24px;
        --font-size-m: 32px;
        --font-size-l: 44px;
        --font-size-xl: 52px;

        --font-weight-bold: bold;
        --font-weight-n: 400;

        --spacing-xs: 5px;
        --spacing-s: 10px;
        --spacing-n: 15px;
        --spacing-m: 20px;
        --spacing-l: 25px;

        --spacing-m-em: 0.5em;

        --content-max-width: 900px;
      }

      .light-theme {
        --color: var(--black);
        --background: var(--white);
      }

      html {
        font-family: "omori", sans-serif;
        color: var(--color);
      }

      body {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        align-items: center;
        font-size: var(--font-size-n);
        margin: 0;
        cursor: url("/img/icons/cursor.png"), auto;
        color: var(--color);
        background: var(--background);
        transition: background 1s ease;
      }

      main {
        width: 100%;
        max-width: var(--content-max-width);
        margin-top: var(--spacing-m-em);
        padding-bottom: var(--spacing-l);
      }

      h1,
      h2 {
        margin: 0;
        font-weight: normal;
      }

      @media screen and (min-width: 420px) {
        h1,
        h2 {
          margin: 0;
          font-weight: normal;
        }
      }

      h1 {
        font-size: var(--font-size-xl);
      }

      h2 {
        font-size: var(--font-size-l);
      }

      p {
        font-size: var(--font-size-n);
        max-width: var(--text-max-width);
        margin: 0;
      }

      p + * {
        margin-top: var(--spacing-m-em);
      }

      a {
        color: var(--blue-light);
        font-size: var(--font-size-n);
      }

      a:visited {
        color: var(--purple);
      }

      * {
        box-sizing: border-box;
      }

      ol {
        padding-left: var(--spacing-m);
      }

      .frame-outer {
        background: var(--black);
        color: var(--white);
        padding: 1px;
      }

      .frame-content {
        border: 2px solid var(--white);
        padding: var(--spacing-s);
        height: 100%;
      }

      .heart-icon {
        height: 24px;
        width: 24px;
        vertical-align: bottom;
      }

      .content-image {
        max-width: 720px;
        max-height: 400px;
      }

      .content {
        display: flex;
        flex-direction: column;
        padding: 0 var(--spacing-s) var(--spacing-l);
      }

      @media screen and (min-width: 420px) {
        .content {
          padding: 0 var(--spacing-l) var(--spacing-l);
        }
      }

      a,
      button,
      lite-youtube {
        cursor: url("/img/icons/cursor_selected.png"), auto !important;
      }

      div.frame-content h1,
      div.frame-content h2 {
        text-align: center;
      }

      p {
        text-align: justify;
      }
    </style>
    <script is:inline src="/js/red_hand_background.js"></script>
  </body>
</html>
