---
import i18next from "i18next";
import Navbar from "../components/Navbar.astro";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <img class="logo" src="/omori-vf.svg" alt="OMORI Version Française" />
    <Navbar />
    <main>
      <slot />
    </main>

    <style is:global>
      @font-face {
        font-family: "omori";
        src: url("/OMORI_GAME2.woff2") format("woff2");
      }

      :root {
        --black: hsl(0, 0%, 0%);
        --white: hsl(0, 0%, 87%);
        --red: hsl(6, 82%, 53%);
        --green: hsl(176, 37%, 50%);
        --purple: hsl(299, 75%, 76%);
        --blue: hsl(255, 96%, 38%);

        --background: var(--black);
        --color: var(--white);

        --font-size-n: 24px;
        --font-size-m: 32px;
        --font-size-l: 44px;
        --font-size-xl: 52px;

        --font-weight-bold: bold;
        --font-weight-n: 400;

        --spacing-xs: 5px;
        --spacing-s: 10px;
        --spacing-n: 15px;
        --spacing-m: 20px;
        --spacing-l: 25px;

        --spacing-m-em: 0.5em;

        --text-max-width: 700px;
        --content-max-width: 900px;
      }

      @media (prefers-color-scheme: light) {
        :root {
          --background: var(--white);
          --color: var(--black);
        }
      }

      @media screen and (-ms-high-contrast: active) {
        :root {
          --white: #fff;
          --black: #000;
        }
      }

      html {
        font-family: "omori", sans-serif;
        background: var(--background);
        color: var(--color);
        height: 100%;
        width: 100%;
      }

      body {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        align-items: center;
        font-size: var(--font-size-n);
        margin: 0;
      }

      main {
        width: 100%;
        max-width: var(--content-max-width);
        margin-top: var(--spacing-m-em);
      }

      h1,
      h2 {
        margin: 0;
      }

      h1 {
        font-size: var(--font-size-xl);
      }

      h2 {
        font-size: var(--font-size-l);
      }

      p {
        font-size: var(--font-size-n);
        max-width: var(--text-max-width);
        margin: 0;
      }

      p + * {
        margin-top: var(--spacing-m-em);
      }

      a {
        color: var(--blue);
        font-size: var(--font-size-n);
      }

      a:visited {
        color: var(--purple);
      }

      * {
        box-sizing: border-box;
      }

      .logo {
        height: 100px;
        filter: invert(15%);
        margin: var(--spacing-m) 0;
      }

      @media (prefers-color-scheme: dark) {
        .logo {
          filter: invert(85%);
        }
      }

      .frame-outer {
        background: var(--black);
        color: var(--white);
        padding: 1px;
      }

      .frame-content {
        border: 2px solid var(--white);
        padding: var(--spacing-s);
        height: 100%;
      }
    </style>
  </body>
</html>
